<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h2>CoderFilz</h2>
      <p>Get Access to anykind of discord bot you are looking for with discord server staff support also.</p>
    </div>
    <div class="footer-section">
      <h2>Links</h2>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="store">Store</a></li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>Contact Us</h2>
      <p>Email: nehilsinha@gmail.com</p>
      <p>Phone: None</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 CoderFredi. All rights reserved.</p>
  </div>
</footer>
