<div class="box">
    <div class="files1">
        <h1>Moderation Discord Bot With 100+ Commands | Free Source Code | Replit Tutorial</h1>
        <input type="password" [(ngModel)]="pin" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files2">
        <h1>Advanced Discord Moderation Bot Code | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin2" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files3">
        <h1>All in one Discord Bot with 100+ Commands | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin3" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files4">
        <h1>Dyno Clone Discord Bot With 600+ Commands | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin4" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files5">
        <h1>OP Discord Moderation and Fun Bot with Buttons | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin5" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files6">
        <h1>Discord Music Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin6" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files7">
        <h1>Leveling Discord Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin7" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files8">
        <h1>Moderation Discord Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin8" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files9">
        <h1>Discord Bot with DropDown Roles Menu | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin9" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files11">
        <h1>Discord Giveaway Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin11" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files12">
        <h1>MiniGames Discord Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin12" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files13">
        <h1>Economy Discord Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin13" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files14">
        <h1>Suggestion Discord Bot with Buttons | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin14" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files15">
        <h1>GEN Discord Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin15" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files16">
        <h1>Minecraft Status Discord Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin16" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
    <div class="files17">
        <h1>CHATGPT Discord Chat Bot | Free Source Code | Replit Tutorial
        </h1>
        <input type="password" [(ngModel)]="pin17" placeholder="Enter PIN" />
        <button (click)="submitPin()">Submit</button>
    </div>
</div>