<section>
  <div class="t">
    <h3>
      The Website is still in BETA Stage
    </h3>
  </div>  
</section>
<div class="container">
  <div class="bt">
    <h1>Imagine the</h1>
    <h1>World of</h1>
    <h1><span>Coding...</span></h1>
    <button (click)="redirectToLink()" mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="terminal"></mat-icon>Codes</button>
  </div>
  <div class="image">
    <img [src]="imageUrl" alt="Image">
  </div>
</div>

<!-- <div class="about">
  <h2>
    About Us
  </h2>
</div>
<div class="text">
  <h3>
    CoderFilz is a website dedicated to providing a centralized platform for accessing all the codes used by the popular
    YouTuber CoderFRedi. With CoderFilz, users can easily find and access a wide range of code snippets and examples
    showcased in CoderFRedi's YouTube channel.
  </h3>
  <h3>
    By consolidating CoderFRedi's codes in one place, CoderFilz promotes accessibility, knowledge sharing, and a
    supportive community for individuals passionate about coding and interested in exploring the exciting realm of
    CoderFRedi's content.
  </h3>
</div> -->