<div class="contact-container">
    <h1 class="animate__animated animate__fadeInDown">Contact Us</h1>
    <div class="discord-info">
      <div class="owner-info animate__animated animate__fadeInLeft">
        <h2>Server Owner: CoderFredi</h2>
        <p>Email: nehilsinha@gmail.com</p>
        <h3>For any kind of support related to redeeming of the BotCode, Join the Discord Server.</h3>
      </div>
      <div class="discord-widget animate__animated animate__fadeInRight">
        <iframe
          src="https://discord.com/widget?id=872013966476472340&theme=dark"
          width="350"
          height="500"
          allowtransparency="true"
          frameborder="0"
          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
        </iframe>
      </div>
    </div>
  </div>
  